<%- include('header') %>
        


        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 m-auto">
                    <div class="card">
                        <div class="card-header">
                            <h5>Edit User <a href="/admin_dashboard" class="btn btn-dark btn-sm float-end">Back</a></h5>
                        </div>
                        <div class="card-body">
                            <form action="/adminedit" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>"/>
                                </div>

                                <input type="hidden" class="form-control"name="user_id"  value="<%= user._id %>"/>
        
        
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"  value="<%= user.email %>"/>
                                </div>
        
        
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="text" class="form-control" id="phone" name="phone" value="<%= user.phone %>" />
                                </div>
        
                                <div class="mb-3">
                                    <label for="image" class="form-label">Upload profile image</label>
                                    <input type="file" class="form-control" id="image" name="image"/>
                                </div>
        
                                <div class="mt-4">
                                    <button type="submit" class="btn btn-primary w-100 rounded-pill">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>




<%- include('footer') %>
